* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #6a994e;
}

#centerImg {
    display: flex;
    align-items: center;
    justify-content: center;
}

#chefImg {
    border: 3px solid #f2e8cf;
}

#mainTitle {
    text-align: center;
    font-weight: bold;
    color: #f2e8cf;
    font-style: italic;
    font-size: 50px;
}

.recipeList{
    font-style: italic;
    text-align: center;
}

ul {
    display: inline-block;
    text-align: left;
    color: #f2e8cf;
    font-size: 30px;
}

a:visited {
    color: #f2e8cf;
}